{% extends 'base.html.twig' %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('success') %}
	    <div class="flash-success">
	        {{ flash_message }}
	    </div>
	{% endfor %}

	<div>
		<a href="{{ path('user_list')}}">Retour à la liste des users</a>
	</div>

	<h1>Création d'un user</h1>

	{{ form(form, {attr: {novalidate: 'novalidate'}}) }}

{% endblock %}