<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Manage your articles{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('bundles/bower_components/foundation/css/foundation.css') }}">

            <style>
                body {padding:10px;}
            </style>
    
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body>
        {% block body %}{% endblock %}

        {% block javascripts %}

        {% endblock %}
    </body>

</html>
